@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
	;

body {
	font-family: "Inter", sans-serif;
	font-size: 1.5rem;
	background: #050A44;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header .welcome-message {
	margin-left: 2rem;
}

.logout-button {
	margin-right: 2rem;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

.logout-button button {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: large;
}

.dashboard-button {
	margin-right: 2rem;
	margin-right: 2rem;
	position: absolute;
	top: 20px;
	right: 100px;
	z-index: 1000;
}

.dashboard-button button {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: large;
}

.logout-button button:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
}

.dashboard-button button:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
}

main {
	background: white;
	color: black;
	width: 90%;
	margin-top: 2rem;
	border-radius: 10px;
	padding: 1rem;
}

h5 {
	margin-top: 0.5rem;
	text-align: center;
	margin-bottom: 0.5rem
}

.new-task {
	margin-top: 1rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

.new-task {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.new-task input {
	width: 85%;
	height: 2rem;
	padding-left: 1rem;
	font-size: large;
}

.new-task button {
	height: 2.5rem;
	width: 2.5rem;
	background: #050A44;
	color: white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-task button:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.task .task-user p {
	text-align: left;
	font-size: small;
	width: 15rem;
	height: 1.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 5px;
}

.task .task-description p {
	text-align: left;
	font-size: small;
	width: 30rem;
	height: 1.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 5px;
}

.task button {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background: none;
	border: none;
}

.task button:hover {
	cursor: pointer;
	transform: scale(1.05);
}